.card {
  display: flex;
  margin: 3vw 3vw 0 3vw;
  text-align: center;
  color: white;
  font-size: 2rem;
  background-color: #284B63;
}

.city {
  font-size: 3rem;
}

.country {
  color: grey
}

i {
  font-size: 10rem;
  display: block;
  margin-top: 5vh;
  margin-left: auto;
  margin-right: auto;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.weather {
  margin-top: 5vh;
  font-size: 3rem
}

.btn {
  color: white;
  border-color: white;
}

.col-xs-6 {
  font-size: 1rem
}